@media screen and (max-width: 1024px){

    .banner{
        display:block;
    }

    #image{
        vertical-align: middle;
        display: contents;
        position: relative;
        top: 10px;
        left: 50px;
        right: 0;
        width: 100px;
    }
    *{
        padding:7px;
        margin: auto;
    }
}